<!DOCTYPE html>
<html>
<head>
  <title>Tela</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body>
<div id='controls'>
  Escolha sua a&ccedil;&atilde;o:
  <ul>
    <li><a id='bomb_player_1' class='action'>Bomb Player 1</a></li>
    <li><a id='bomb_player_2' class='action'>Bomb Player 2</a></li>
    <li><a id='bomb_player_3' class='action'>Bomb Player 3</a></li>
    <li><a id='bomb_player_4' class='action'>Bomb Player 4</a></li>
    <li><a id='obstacle' class='action'>Obstacle</a></li>
  </ul>
</div>

<div id='disconnected' style="display: none">
  The connection error.<br/>
  Please refresh your browser in a few seconds.
</div>

<script type="text/javascript">
  $('.action').click(function() {
    $.ajax({
      url: '/action?param=' + $(this).attr('id'),
      success: function() {
        console.log('success');
      }
    });
  });
</script>
</body>
</html>